$XL: 1850px;
$L: 1650px;
$M: 1200px;
$mobile: 1000px;
.container {
  animation: 1s fadeIn 1.5s backwards;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
  @media (max-width: 1000px) {
    justify-content: start;
  }

  .title {
    position: absolute;
    left: 4.3vw;
    height: 90vh;
    @media (max-width: 1000px) {
      position: absolute;
      left: 50%;
      width: 100%;
      top: 12%;
      text-align: center;
      transform: translateX(-50%);
    }
    h1 {
      font-family: 'EB';
      color: #fff;
      margin-top: 4rem;
      font-size: 10rem;
      line-height: 11.5rem;
      text-shadow: -0.5px 0 #747474, 0 1px #747474, 0.5px 0 #747474,
        0 -0.5px #747474;
      @media (max-width: 1200px) {
        line-height: 12rem;
        font-size: 9rem;
      }
      @media (max-width: 1000px) {
        font-family: 'H';
        font-size: 1.8rem;
        margin-top: -4rem;
        color: #0b402c;
        text-shadow: none;
      }
      img {
        width: 170px;
        height: auto;
        position: absolute;
        transform: translateY(+4%) translateX(-18%);
        @media (max-width: 1200px) {
          width: 150px;
          transform: translateY(+10%) translateX(-18%);
        }
      }
    }
  }
  .card {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80vh;
    width: 60vw;
    margin-top: 4rem;
    @media (max-width: 1000px) {
      display: none;
    }
  }

  .introduce {
    height: 76vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 9vh;
    margin-right: 6vw;
    justify-content: space-between;
    @media (max-width: 1200px) {
      margin-right: 12vw;
    }
    @media (max-width: 1000px) {
      width: 84vw;
      margin-left: 8vw;
    }
    .mgS {
      margin: 0 0 0 0.8rem;
    }
    .area {
      width: 90%;
      @media (max-width: 1400px) {
        width: 100%;
        margin-bottom: 6vh;
      }
      @media (max-width: 1200px) {
        width: 120%;
      }
      @media (max-width: 1000px) {
        width: 100%;
      }
      .line {
        border: 0.5px solid #747474;
        margin: -0.4rem 0 0rem 0;
      }
      h1 {
        font-family: 'EB';
        font-size: 1.2rem;
        @media (max-width: 1000px) {
          font-family: 'H';
          margin-left: 0.4rem;
        }
      }
      .present {
        position: absolute;
        margin: 1.15rem 0 0 -0.8rem;
        font-size: 0.6rem;
        font-family: 'EB';
        @media (max-width: 1200px) {
          margin: 1.03rem 0 0 -0.7rem;
          // font-size: 0.8rem;
        }
        @media (max-width: 1000px) {
          margin: 1.35rem 0 0 -1rem;
          font-size: 0.8rem;
        }
      }
      .majors {
        position: absolute;
        margin: -1.7rem 0 0 0.2rem;
        font-family: 'UL';
        font-size: 0.7rem;
        color: #747474;
        @media (max-width: 1500px) {
          margin: -1.5rem 0 0 0.2rem;
          font-size: 0.6rem;
        }
        @media (max-width: 1000px) {
          margin: -2.05rem 0 0 0.1rem;
          font-size: 0.9rem;
        }
      }
    }
    .text-zone {
      display: flex;
      flex-direction: row;
      .subTitle h2 {
        //********************************
        width: 9vw;
        font-family: 'SB';
        font-size: 1.1rem;
        line-height: 1.5rem; //********************************
        margin-left: 0.3rem;
        @media (max-width: 1550px) {
          font-size: 1rem;
          line-height: 1.4rem;
          // width: 40vw;
        }
        @media (max-width: 1000px) {
          font-size: 1.3rem;
          line-height: 1.8rem;
          width: 40vw;
        }
      }
      .School {
        //*********************************
        font-family: 'UL';
        font-size: 1rem;
        line-height: 1.6rem; //********************************
        width: 70vw;
        @media (max-width: 1550px) {
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
        @media (max-width: 1000px) {
          font-size: 1.1rem;
          line-height: 2.1rem;
          width: 200vw;
        }
        b {
          font-size: 1.1rem;
        }
      }
      .gray {
        color: #747474;
      }
      .subText {
        margin-top: 0.5rem;
        width: 130%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h3 {
          //*********************************
          font-family: 'UL';
          font-size: 1.1rem;
          line-height: 0.2rem; //********************************
          @media (max-width: 1550px) {
            font-family: 'UL';
            font-size: 1rem;
          }
          @media (max-width: 1000px) {
            font-family: 'UL';
            font-size: 1.2rem;
            line-height: 0.52rem;
          }
          b {
            font-size: 0.5em;
          }
          a {
            line-height: 0.6rem;
            @media (max-width: 1000px) {
              line-height: 1.15rem;
            }
          }
        }
      }
    }
  }
}
