.content {
  .content-left {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: 40px;
    .tags {
      font-family: 'L';
      margin-left: 0;
      font-size: 1rem;
      margin-left: 2vh;
    }
    .text-zone {
      margin: 18.2vh 0 18.2vh 10vh;
      width: 100%;
      .helloText {
        font-family: 'UL';
        font-size: 1.6rem;
      }
      .mainText {
        font-family: 'H';
        margin-top: 0.2rem;
        font-size: 3.3rem;
      }
      h3 {
        margin: 5.4vh 0 8vh 0;
        font-family: 'L';
        opacity: 0;
        animation: fadeIn 2s forwards;
        animation-delay: 3s;
      }
    }
    .flat-button {
      background-color: #0b402c;
      font-family: 'UL';
      font-size: 2rem;
      color: white;
      text-decoration: none;
      padding: 0.2rem 1rem 0.5rem 1rem;
      animation: 1s fadeIn 1.8s backwards;
      transition: all 0.3s ease-out;
      &:hover {
        background-color: #ffd700;
        color: #333;
      }
    }
  }
  .midLine {
    border: 1px solid #cfcfcf;
    position: absolute;
    height: 80%;
    top: 14%;
    left: 50%;
    @keyframes slidein {
      from {
        transform: scaleY(0);
        // opacity: 0;
      }
      50% {
        opacity: 1;
        transform: scaleY(0);
      }
      to {
        opacity: 1;
        transform: scaleY(1);
      }
    }
    animation: 3s slidein;
  }
  .img {
    opacity: 0;
    animation: fadeIn 1s linear both;
    animation-delay: 2.4s;
    width: auto;
    z-index: -10;
    .base_container {
      position: absolute;
      left: 70%;
      top: 55%;
      height: 45vw;
      width: 40vw;
      transform: translateX(-50%) translateY(-50%);
      overflow: hidden;
      .base {
        position: absolute;
        left: 40%;
        top: 45%;
        height: 47vw;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .arm {
      position: absolute;
      left: 68.4%;
      top: 49.2%;
      z-index: 1;
      height: 17.1vw;
      transform: translateX(-50%) translateY(-50%);
    }
    .logo {
      position: absolute;
      left: 62.8%;
      top: 62.8%;
      height: 33vw;
      transform: translateX(-50%) translateY(-50%);
    }
    .O {
      position: absolute;
      left: 74%;
      top: 34%;
      z-index: 2;
      rotate: 40deg;
      width: 5vw;
      height: 5vw;
      background-color: #fff;
      border: #0b402c 3px solid;
    }
    .o {
      position: absolute;
      left: 74.6%;
      top: 35.1%;
      z-index: 3;
      rotate: 45deg;
      width: 4vw;
      height: 4vw;
      background-color: #fff;
      border: #0b402c dashed 1px;
      animation-delay: 5s;
    }
  }

  .content-right {
    position: absolute;
    height: 80vh;
    top: 10%;
    right: 8%;
    h3 {
      font-family: 'UL';
      position: absolute;
      display: block;
      transform: rotate(90deg) translateX(+3%) translateY(156%);
      width: 200px;
      top: 17%;
    }
    ul {
      list-style: none;
      position: absolute;
      display: block;
      padding: 0;
      bottom: -15px;
      li {
        margin-top: 50%;
        a {
          img {
            width: 46px;
            height: auto;
          }
        }
      }
    }
  }
}
